<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-icon-180x180.png') }}">
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

  <title> Works </title>  

  <link href="{{ url_for('static', filename='main.3f6952e4.css') }}" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>

      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Works</h1>
          <p>My portfolio of projects consists of different topics of Data Science, Machine Learning and Deep Learning and I continuously expand it. 
            My projects are presented below with links to the code, blog posts and deployed projects</p>
        </div>
        <div class="text-center">
          <a href="https://drive.google.com/file/d/18blb0TKRLxRdXcJ9ci1eprCYR_5fDhIH/view?usp=sharing" title="" target="_blank" class="btn btn-default">Download Resume</a>
          <a href="https://medium.com/@ashiishkarhade" title="" class="btn btn-default" target="_blank">Blog</a>
        </div>
      </div>

      
    <!-- Project -->
      <div class="col-md-12">
      <h3 class="h3"> Projects </h3>
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <!-- PROJECT - 1 -->
                    <div class="col-sm-4">
                      <a href="" title="" class="black-image-project-hover">
                        <img src="./static/images/project-1.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>December-2020</h4>
                        <h3>Dog Breed Classifier</h3>
                        <p>Check the breed of the dog from image, or check which dog looks like you.</p>
                        <a href="https://github.com/AshiishKarhade/Dog-Breed-Classifier-Assignment" target="_blank" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <!-- PROJECT - 2 -->
                    <div class="col-sm-4">
                      <a href="" title="" class="black-image-project-hover">
                        <img src="./static/images/project2.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>April-2020</h4>
                        <h3>COVID-19 Detection</h3>
                        <p>Detection using chest x-ray images from collecting 150 Images of Positive and Negative Images of Chest X-ray from COVID-19 Test.</p>
                        <a href="https://github.com/dsc-sits/COVID-19-X-RAY-Images-Detection" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <!-- PROJECT - 3 -->
                    <div class="col-sm-4">
                      <a href="" title="" class="black-image-project-hover">
                        <img src="./static/images/project3.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>Feb-2020</h4>
                        <h3>PhotoBot</h3>
                        <p>PhotoBot is an Image captioning generator web app build with Flask & predict the possible captions of image on uploading any image.</p>
                        <a href="https://github.com/AshiishKarhade/Photobot-Image-Captioning" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <!--PROJECT - 4 -->
                  <div class="col-sm-4">
                    <a href="" class="black-image-project-hover">
                      <img src="./static/images/project4.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>September-2019</h4>
                      <h3>Fees Management Android Application</h3>
                      <p>Fees Maneuver is an android application which makes fees management handy for both students and administrators of the college.</p>
                      <a href="https://github.com/AshiishKarhade/Fee-Maneuver" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                   <!-- <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./static/work01-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>Fringilla sit amet</h3>
                        <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies.</p>
                        <a href="./work.html" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./static/work03-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>Vivamus vestibulum</h3>
                        <p>Fusce sed hendrerit augue, a rhoncus velit. In non lorem mattis, tempor sem sit amet.</p>
                        <a href="./work.html" class="btn btn-default">Discover</a>
                      </div>
                    </div> -->
                    
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>
    <!--/myCarousel-->
    </div>


  <!-- Talks and Events -->
    <div class="col-md-12">
      <h3 class="h3"> Talks and Events </h3>
      <div id="myCarousel2" class="carousel slide projects-carousel-2">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">
                      <!-- <a href="" title="" class="black-image-project-hover"> -->
                        <img src="./static/images/explore_nashik.jpg" alt="" class="img-responsive">
                      <!-- </a> -->
                      <div class="card-container card-container-lg">
                        <h4>Jan-2020</h4>
                        <h3>Explore ML @ KBTCOE, Nashik</h3>
                        <p>Invited as guest speaker to conduct 2-Day Machine Learning Workshop.</p>
                        <!-- <a href="./work.html" title="" class="btn btn-default">Discover</a> -->
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <!-- <a href="" title="" class="black-image-project-hover"> -->
                        <img src="./static/images/explore_sit.jpeg" alt="" class="img-responsive">
                      <!-- </a> -->
                      <div class="card-container card-container-lg">
                        <h4>December-2019</h4>
                        <h3>Explore ML Workshop @ SIT, Lonavala</h3>
                        <p>2-Days Machine Learning workshop at Sinhgad Institutes.</p>
                        <!-- <a href="./work.html" title="" class="btn btn-default">Discover</a> -->
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <!-- <a href="" title="" class="black-image-project-hover"> -->
                        <img src="./static/images/exploreml.jpg" alt="" class="img-responsive">
                      <!-- </a> -->
                      <div class="card-container card-container-lg">
                        <h4>July-2019</h4>
                        <h3>ML Facilitator Program, Google</h3>
                        <p>Selected as ML Facilitator and invited to Google Office, Hyderabad to learn ML from Googlers</p>
                        <!-- <a href="./work.html" title="" class="btn btn-default">Discover</a> -->
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <!-- <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="./assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>Nulla scelerisque</h3>
                      <p>Proin pharetra metus id iaculis dignissim. In aliquet lorem ut ex ullamcorper.</p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./assets/images/work01-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>Fringilla sit amet</h3>
                        <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies.</p>
                        <a href="./work.html" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img src="./assets/images/work03-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>Vivamus vestibulum</h3>
                        <p>Fusce sed hendrerit augue, a rhoncus velit. In non lorem mattis, tempor sem sit amet.</p>
                        <a href="./work.html" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                /row
            </div>
            
            /item
        </div> -->
        <!--/carousel-inner--> 
        <!-- <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a> -->
     </div>

    <!--/myCarousel-->
    </div>
    </div>
  </div>
</div>


<!-- <footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer> 
--> 

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>


<script type="text/javascript" src=" {{ url_for('static', filename='main.70a66962.js') }} "></script>
</body>


</html>